<!-- Social Media List -->
<ul class="social-media-list">
  <!-- GitHub Link -->
  {%- if site.github_username -%}
  <li>
    <a href="https://github.com/{{ site.github_username | escape_once }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  <!-- LinkedIn Link -->
  {%- if site.linkedin_username -%}
  <li>
    <a href="https://www.linkedin.com/in/{{ site.linkedin_username | escape_once }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  <!-- Twitter Link -->
  {%- if site.twitter_username -%}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter_username | escape_once }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  <!-- RSS Feed Link -->
  {%- if site.rss -%}
  <li>
    <a href="{{ 'feed.xml' | relative_url }}">
      <svg class="svg-icon">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
      </svg>
    </a>
  </li>
  {%- endif -%}
</ul>
